<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PayrollSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PayrollSystem.Properties.Settings>
            <setting name="connectionDB" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="catalog" serializeAs="String">
                <value>dbfhpayroll</value>
            </setting>
        </PayrollSystem.Properties.Settings>
    </userSettings>
</configuration>